.App {
  text-align: center;
}

.Navbar{
  background-color: #D70F64;
  color: #f7f7f7 !important;
}
.form-button{
  background-color: #D70F64 !important;
  outline: none;
  border: none !important;
  color: #f7f7f7;
}
.login-card{
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.15);
    padding:30px;
    width: 350px;
}